<div class="flex flex-column">
  <h3>Buscador</h3>
  <mat-form-field>
    <mat-label>Buscador de Héroes</mat-label>
    <input type="text" matInput placeholder="Héroe" [formControl]="searchInput" (input)="searchHero()" [matAutocomplete]="auto" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      @for (hero of heroes; track hero) {
        <mat-option [value]="hero">{{hero.superhero}}</mat-option>
      }
      @if (heroes?.length === 0 && searchInput.value && searchInput.value.length > 0) {
        <mat-option value="">
          No se encontró nada con el término '{{ searchInput.value }}'
        </mat-option>
      }
    </mat-autocomplete></mat-form-field>
</div>
